
.rt_wufoo_loader{ 
    
    background: transparent url("../images/loading.gif") center center no-repeat;
    background-color: rgba(255,255,255,0.8);
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}

.rt_wufoo_steps{
    position:relative;
    max-width:600px;
}

.rt_wufoo_stepbox{
    padding:0 20px 20px 20px;
    border-radius:10px;
    border: 1px solid #444;
    margin: 20px 0;
    position:relative;
}
.rt_wufoo_stepbox h3{
    text-align: center;
    background: #e5e5e5 none;
    margin: 0;
    padding: 1em;
    border-radius: 5px;
}
.rt_wufoo_stepbox #rtprogressbar {
  background-color: #444;
  border-radius: 13px; 
  padding: 3px;
  margin:10px 0;
}

.rt_wufoo_stepbox #rtprogressbar div {
   background-color: #fb6003;
   width: 0; 
   height: 20px;
   border-radius: 10px;
}